@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --clr-primary: #171132;
  --clr-primary-600: #152839;
  --clr-primary-fade: #15283977;
  --clr-secondary: #00ff7f;

  --ff-main: "Urbanist", sans-serif;
  --ff-secondary: "Space Mono", monospace;
}

/* RESET CSS */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
html,
body {
  font-family: var(--ff-main);
}
/*  UTILITY CLASSES */

.container {
  margin-inline: auto;
  width: min(90%, 60.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
    gap: 2em;
  }
  .split > * {
    flex-basis: 100%;
  }
}

.bg-dark {
  background: var(--clr-primary);
  color: var(--clr-secondary);
}

h1 {
  color: white;
  font-weight: 600;
}
.text-gradient {
  background-image: linear-gradient(to right, #e6ffee, var(--clr-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
