---
import HeaderText from "../components/HeaderText.astro";
import Sidebar from "../components/Sidebar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sacha ROFFINI | Développeur JavaScript">
  <main class="container">
    <Sidebar />
    <HeaderText />
  </main>
</Layout>
