<div class="header-text">
  <h1>
    Développer et designer des <br /> concepts <span class="text-gradient"
      >innovants.</span
    >
  </h1>
  <p>
    Développeur JavaScript actuellement en alternance pour le groupe DC
    Expansion. Étudiant à <br /> l'université de Tours. Fan de Formule 1.
  </p>
</div>

<style>
  .header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 44px;
  }
  p {
    font-size: 1.1rem;
  }
</style>
