<nav>
  <div class="profil">
    <img
      src="images/pdp-linkedin-portrait-1.jpeg"
      class="image-round"
      alt="Photo de profil"
    />
    <div>
      <p>Sacha ROFFINI</p>
      <p class="sombre">Développeur JavaScript</p>
    </div>
  </div>

  <div class="bloc-sidebar">
    <div class="bloc-row">
      <img src="/icons/compass.png" alt="Icône de compétence" />
      <p>Explorer</p>
    </div>
    <div class="bloc-row">
      <img src="/icons/book-line.svg" alt="Icône de compétence" />
      <p>Projets</p>
    </div>
    <div class="bloc-row">
      <img src="/icons/edit-line.svg" alt="Icône de compétence" />
      <p>Blog</p>
    </div>
  </div>

  <div class="bloc-sidebar">
    <p class="bloc-title">Ressources</p>
    <div class="bloc-row">
      <img src="/icons/bard-line.svg" alt="Icône de compétence" />
      <p>Compétences</p>
    </div>
    <div class="bloc-row">
      <img src="/icons/tools-line.svg" alt="Icône de compétence" />
      <p>Outils</p>
    </div>
    <div class="bloc-row">
      <img src="/icons/user-line.svg" alt="Icône de compétence" />
      <p>À propos de moi</p>
    </div>
  </div>

  <div class="bloc-sidebar">
    <p class="bloc-title">Social</p>
    <div class="bloc-row">
      <img src="/icons/github-line.svg" alt="Icône de compétence" />
      <p>GitHub</p>
    </div>
    <div class="bloc-row">
      <img src="/icons/linkedin-box-line.svg" alt="Icône de compétence" />
      <p>LinkedIn</p>
    </div>
    <div class="bloc-row">
      <img src="/icons/file-text-line.svg" alt="Icône de compétence" />
      <p>Lire mon CV</p>
    </div>
  </div>
</nav>

<style>
  nav {
    height: 100%;
    position: fixed;
    width: 300px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: var(--clr-primary-fade);
    padding-block: 2rem;
    padding-inline: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    border-right: 1px solid var(--clr-primary-600);
  }
  .profil {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .image-round {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    height: 40px;
  }
  .bloc-sidebar {
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .bloc-row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .bloc-title {
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  .sombre {
    color: var(--clr-secondary);
    font-size: 0.9rem;
  }
  p {
    color: white;
    font-family: var(--ff-secondary);
  }
</style>
